In [ ]:
import psycopg2
import yaml

In [ ]:
def pg_connect(un, pw, db='<db_name>', hn='<host_name>', p='<port>', sslmode='require'):
    try:
        conn = psycopg2.connect(dbname=db,
                        user=un,
                        password=pw,
                        host=hn,
                        port=p,
                        sslmode='require')
    except Exception as e:
        print("Error connecting to db.")
        raise e
    #conn.set_client_encoding('latin_1')
    cur = conn.cursor()
    cur.execute('set role el_salvador_mined_education_write;')
    return cur, conn

In [ ]:
cursor, connection = pg_connect('<user_name>', '<password>')

In [ ]:
schema = 'raw.'
folder_number = 2

In [ ]:
cursor.execute(f"""select distinct(table_name) from raw.column_mapping where table_name ~ '{schema}"{folder_number}_*'""")

In [ ]:
fetch = cursor.fetchall()
table_list = [string for tup in fetch for string in tup]

In [ ]:
table_list

In [ ]:
table_name_with_schema = 'raw."2_CENSO2008"'

In [ ]:
if table_name_with_schema in table_list:
    print(True)
else:
    print(False)

In [ ]:
with open('../sql/adding_eggs.sql', 'r') as f:
    sql_file = f.read()

In [ ]:
for line in sql_file.split(' as ')[1:]:
    print(line.split(',')[0])

In [ ]:
cursor.execute(sql_file)
fetch = cursor.fetchall()

In [ ]:
len(fetch)

In [ ]:
import pandas as pd
df = pd.DataFrame(fetch)

In [ ]:
from pathlib import Path

In [ ]:
Path.cwd() / '..' / 'sql'

In [ ]:
with open(Path('..') / 'sql' / 'adding_eggs.sql', 'r') as f:
    sql = f.read()

In [ ]:
p = str(Path('El_Salvador_mined_education') / 'sql' / sql_file)

In [ ]:
p

In [ ]:
sql_file = 'avocado_toast.yaml'

In [ ]:
sql_file

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame(np.random.randn(50, 4), columns=list('ABCD'))

In [ ]:
df

In [ ]:
#df.loc[:, df.columns != 'b']
df.loc[:, df.columns != df.columns[-1]]